
<div class="header">

    <div class="resume-container">

        <form method="get" action="resume_michael_cirone.pdf">
           <button class="resume btn-transparent"
                   type="submit"></button>
        </form>

        <a href="https://www.youtube.com/channel/UCLFwTdKWpMMZBNXtGVC0IUA"
           target="_blank"
           class="youtube-link">
                <img src="/assets/YouTube_Logo_2017.svg" class="youtube-link-logo">
                <p class="youtube-link-label">
                    Code Presentations
                </p>
        </a>

    </div>

    <div class="title-container">

        <div class="title">

            <h4 class="main-title-secondary">Web Developer</h4>

            <h1 class="main-title">Mike Cirone</h1>

        </div>

    </div>

</div>
