
html, body, #header-and-content-container {
    height: 100%;
}

#header-and-content-container {

    display: flex;
    flex-direction: column;

    #header-container {
        flex: 0 0 auto;
    }

    #content-container {

        flex: 1 1 auto;
        overflow-y: auto;
        padding: $horizontal-edge-gutter $horizontal-edge-gutter $horizontal-edge-gutter*4;

        .ui-module:not(:last-child) {
            margin-bottom: $horizontal-edge-gutter*3;
        }

        .filler {
            width: 20px;
            height: 1500px;
            background-color: orangered;
        }
    }
}
