
#header-container {
    background-image: url(../images/mtn_in_the_clouds.jpg);
    background-size: cover;
}

.header {

    &__resume-container {
        height: 10rem;
        @include respond(phone) {
            height: 8rem;
        }
        max-width: $grid-width;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 0 $horizontal-edge-gutter;
        padding-top: $horizontal-edge-gutter;
    }

    $resume-width: 6rem;
    &__resume {
        width: $resume-width;
        height: $resume-width;
        background: url('../images/resume.svg') no-repeat;
        background-size: 100% 100%;
    }

    // $youtube-link-width: $resume-width * .8;
    // &__youtube-link {
    //     width: 2.7381 * $youtube-link-width;
    //     height: $youtube-link-width;
    //     background: url('../images/youtube_link.svg') no-repeat;
    //     background-size: 100% 100%;
    //     margin-left: 1.5rem;
    // }

    &__youtube-link {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        margin-left: 1.5rem;

        border: 2px solid black;
        background-color: white;

        &-logo {
            height: 2.4rem;
            object-fit: contain;
            margin-top: .4rem;
        }

        &-label {
            text-transform: uppercase;
            font-size: $p-size * .8;
            font-weight: bold;
            color: black;
            margin: .3rem .6rem;
        }

    }

    &__title-container {
        background-color: rgba(black, 0.5);
    }
    &__title {

        max-width: $grid-width;
        margin: 0 auto;
        box-sizing: content-box;
        padding: 0 $horizontal-edge-gutter;
        display: flex;
        justify-content: space-between;

    }

    &__main-title-secondary {
        @include chrome-gradient;
        align-self: center;
    }

}
