
#resume {
    width: 8rem;
    height: 8rem;
    background: url('../images/resume.svg') no-repeat;
    background-size: 100% 100%;
}

#exp-categories {

    .checkbox-label {
        color: $black;
        font-family: 'Ropa Sans', sans-serif;
        font-size: 1.7rem;
    }

}
