
.ui-module {

    border: 1px solid $black;
    box-shadow: 0 .3rem 1.3rem rgba(0, 0, 0, 0.4);

    &__hero-section {

        border-bottom: 1px solid $black;
        background: url(../images/starry_night_sky.png) center center repeat;
        background-size: cover;
        z-index: 2;

        &-image {
            display: block;
        }

        &-image {
            width: 100%;
            object-fit: contain;
            cursor: pointer;
        }

        .video-module__video {
            width: 100%;
        }

    }

    &__content-section-container {
        height: 0;
        overflow: hidden;
        position: relative;
        background-color: rgba(0, 0, 0, .575);
    }

    &__content-section {
        position: absolute;
        padding: 1rem 2rem 1rem 3rem;
        background-image: linear-gradient(rgba(0, 0, 0, .6) 0,
                                          transparent .9rem,
                                          transparent 100%);
    }

    &__interface-section {
        background-color: rgba(0, 0, 0, .8);
        text-align: center;
    }

    &__btn-sliding {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 2rem);
        margin: 0 1rem;
        padding: .3rem 2rem;
        background-color: transparent;
        border: none;
        &-arrow {
            width: 2rem;
            transition: 1s all;
            &--open {
                transform: rotateX(180deg);
            }
        }
    }

}

// #advanced-ui-components .ui-module__hero-section {
//     height: 20rem;
//     background: url(../images/hero_advanced_ui_components.jpg) left top no-repeat;
//     background-size: 125%;
// }

// #real-time-graph-updates .ui-module__hero-section {
//     height: 20rem;
//     background: url(../images/hero_real_time_graph_updates.jpg) left top no-repeat;
//     background-size: 125%;
// }
