
@import '../../scss/vars';
@import '../../scss/mixins';

.row {
    display: flex;
    align-items: baseline;
    padding: .3rem 0;
    &-value {
        flex: 1 1 auto;
        margin-left: 1rem;
        margin-right: 1.5rem;
    }
}

.list {
    padding: 1rem 0;
}

.list-item {
    list-style-type: none;
    padding-left: 1.5rem;
    background: url(/assets/bullet.svg) left top .5rem no-repeat;
    background-size: 1rem;
    margin: 1rem 0;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.video-module {

    display: table;
    margin: 0 auto;

    .video {
        width: 60rem;
        @include respond(phone) {
           width: 100%;
       }
    }
    .btn-control {
        bottom: auto;
        top: 0;
    }

}

.image {
    display: block;
    @include respond(phone) {
       object-fit: contain;
       width: 100%;
       &:not(:last-child) {
           border-bottom: 1px solid black;
       }
    }
    @include respond(tab-port-only) {
        margin: $horizontal-edge-gutter * 2 auto;
    }
    @include respond(tab-port-and-up) {
        border: 1px solid $black;
        box-shadow: 0 .3rem 1.3rem rgba(0, 0, 0, 0.4);
    }
    @include respond(tab-land-and-up) {
        margin: $horizontal-edge-gutter * 2;
    }
    &--for-small-devices {
        @include respond(tab-land-and-up) {
            display: none;
        }
        @include respond(tab-port) {
            display: block;
        }
    }
}

.images-section-for-large-devices {
    height: 100%;
    margin: 0 auto;
    vertical-align: middle;
    @include respond(tab-land-and-up) {
        display: table;
    }
    @include respond(tab-port) {
        display: none;
    }
}

.subheaders {
    flex: 0 0 auto;
}

.content {
    flex: 1 1 auto;
    overflow-y: auto;
}
